.menu {
  &__button {
    position: fixed;
    bottom: 5%;
    left: calc(50% - 35%);
    width: 70%;
    max-width: none;
    background-color: $color-navbar;
    border: 1px solid #ffffff;
    opacity: 0.8;
    z-index: 100;
    transition: all 500ms ease-in;
    &--open {
      background-color: $color-navbar;
      opacity: 1;
    }
    &--top {
      top: 0;
      bottom: auto;
    }
    &--hidden {
      bottom: -30px;
      left: calc(50% - 30%);
      width: 60%;
      opacity: 0 !important;
    }
    &:hover {
      background-color: $color-navbar;
      opacity: 1;
    }
    &:focus {
      background-color: $color-navbar;
      opacity: 1;
    }
  }
  &__list {
    position: fixed;
    bottom: calc(5% + 32px);
    left: 0;
    width: 100vw;
    background-color: $color-navbar;
    text-align: center;
    z-index: 100;
    &--top {
      top: 32px;
      bottom: auto;
    }
    &--hidden {
      display: none;
    }
  }
  &__item {
    transition: background-color 500ms linear;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 200ms linear;
    }
  }
  &__link {
    display: block;   
    padding:1.25em 1.25em;
  }
}


  // Large screen (@screen-large)
  @mixin menu\@screen-large {
    .menu {
      &__button {
        display: none;
      }
      &__list {
        @include flexbox;
        @include justify-content(flex-end);
        width: auto;
        position: static;
      }
    }
  }