.menu {
  &__button {
    position: fixed;
    bottom: 5%;
    left: calc(50% - 40%);
    width: 80%;
    max-width: none;
    background-color: $color-navbar;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 0.8;
    z-index: 100;
    transition: all 500ms ease-in;
    &--open {
      background-color: $color-navbar;
      opacity: 1;
    }
    &--hidden {
      bottom: -30px;
      left: calc(50% - 30%);
      width: 60%;
      opacity: 0 !important;
    }
    &:hover {
      background-color: $color-navbar;
      opacity: 1;
    }
    &:focus {
      background-color: $color-navbar;
      opacity: 1;
    }
  }
  &__list {
    position: fixed;
    bottom: calc(5% + 32px);
    left: 0;
    width: 100vw;
    background-color: $color-navbar;
    text-align: center;
    z-index: 100;
    &--hidden {
      display: none;
    }
  }
  &__item {
    transition: background-color 500ms linear;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 200ms linear;
    }
  }
  &__link {
    display: block;   
    padding:1.25em 1.25em;
  }
}