.menu {
  &__list {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100vw;
    background-color: $color-navbar;
    text-align: right;
    z-index: 100;
    &--top {
      top: 55px;
      bottom: auto;
    }
    &--hidden {
      display: none;
    }
  }
  &__item {
    transition: background-color 500ms linear;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 200ms linear;
    }
  }
  &__link {
    display: block;   
    padding:1.25em 1.25em;
    padding-right: 10%;
  }
}


  // Large screen (@screen-large)
  @mixin menu\@screen-large {
    .menu {
      &__list {
        @include flexbox;
        @include justify-content(flex-end);
        width: auto;
        position: static;
        text-align: center;
      }
      &__link {
        padding-right: 1.25em;
      }
    }
  }