.slider {
  &__button {
    position: absolute;
    top: calc(50% - 30px);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: #dddddd;
      border: 2px solid #bbbbbb;
    }
    &:hover .slider__button-arrow {
      stroke: #252525;
    }
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }
  &__button-arrow {
    stroke: #bbbbbb;
    stroke-width: 25;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &__dots {
    @include flexbox;
    @include justify-content(center);
  }
  &__dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #7b7b7b;
    margin: 20px 5px 20px 5px;
    &--active {
      background-color: #323232;
    }
  }
}