.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 90px 0;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  
  &--padding_large {
    padding: 150px 0;
  }
}