.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px 15px;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  
  &--low {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &--high {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}