.button {
  padding: 10px 30px;
  max-width: 90px;
  border: none;
  background-color: $color-button;
  font-size: $font-size-button;
  color: $white;
  border-radius: 3px;
  transition: background-color 200ms linear;
  cursor: pointer;
  &--large {
    padding: 18px 50px;
    max-width: 145px;
    font-size: $font-size-button--large;
  }
  &:hover {
    background-color: $color-button-hover;
  }
}