.button {
  padding: 10px 30px;
  max-width: 90px;
  border: none;
  background-color: $color-button;
  font-size: $font-size-button;
  color: $white;
  border-radius: 3px;
  transition: background-color 200ms linear;
  cursor: pointer;
  &:hover {
    background-color: $color-button-hover;
  }
  
  &__svg {
    fill: none;
    stroke: $color-btn-side-svg;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
    &--menu-closed, &--menu-open {
      & > .line {
        transition: .5s;
      }
    }
    &--menu-open {
      & > .line:nth-of-type(1) {
        transform: rotate(45deg) translateY(-4px) translateX(7px);
      }
      & > .line:nth-of-type(2) {
        transform: translate(40px);
        opacity: 0;
      }
      & > .line:nth-of-type(3) {
        transform: rotate(-45deg) translateY(-4px) translateX(-17px);
      }
    }
  }

  &--large {
    padding: 18px 50px;
    max-width: 145px;
    font-size: $font-size-button--large;
  }

  &--side {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    background-color: $color-btn-side;
    height: 55px;
    width: 55px;
    padding: 0;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    transition: all 400ms linear;
    z-index: 4;
    cursor: pointer;
    opacity: 1;
    &:hover {
      background-color: $color-btn-side-hover;
      opacity: 1;
    }

    &:focus {
      background-color: $color-btn-side-hover;
      opacity: 1;
    }
  }

  &--gotop {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  
  &--top {
    position: absolute;
    top: 0;
    right: 30px;
    bottom: auto;
    background-color: $color-navbar;
    border: 1px solid $white;
    &:hover {
      background-color: $color-bg-dark;
    }
  }

  &--hidden {
    position: fixed;
    right: 30px;
    top: auto;
    bottom: -70px;
    opacity: 0 !important;
    background-color: $color-navbar;
  }
  
  &--open {
    background-color: $color-navbar;
    opacity: 1;
  }
  &--bottom {
    position: fixed;
    top: auto;
    bottom: 100px;
    right: 30px;
  }
}

// Large screen (@screen-large)
@mixin button\@screen-large {
  .button {
    &--menu {
      display: none;
    }
  }
}