.card {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  height: 220px;
  width: 230px;
  
  &__title {
    font-family: $font-primary;
    font-size: $font-size-card-title;
  }
  &__description {
    font-family: $font-secondary;
    font-size: $font-size-card-descr;
    text-align: center;
  }
}