.footer {
  color: $grey-light;
  padding-bottom: 100px;
  &__copyright {
    margin: 10px 0;  
    font-size: $font-size-tiny;
  }
  &__logo {
    margin: 10px 0;
    font-size: $font-size-medium;
  }
}