.form {
  $_: &;
  @include flexbox;
  @include flex-direction(column);
  width: 100%;
  max-width: 570px;
  &__inline {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);
  }
  &__field {
    position: relative;
    margin-bottom: 20px;
  }
  &__input, &__textarea {
    background-color: $color-form;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: $font-size-form;
    border: 3px solid transparent;
    &:focus {
      background-color: $white;
    }
    &:placeholder-shown + #{$_}__label {
      position: absolute;
      opacity: 0;
      transform: translateY(0);
    }
  }
  &__input {
    height: 60px;
    width: 100%;
    //max-width: 275px;
  }
  &__textarea {
    height: 165px;
    resize: none;
    margin-bottom: 20px;
  }
  &__label {
    position: absolute;
    transform: translateY(-25px);
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 300ms ease-out;
  }
  &__button {
    max-width: none;
    width: 100%;
  }
}


// Media queries 
  // Small screen  >  650px (@screen-small)
  @mixin form\@screen-small {
    .form {
      &__inline {
        @include flex-direction(row);
      }
      &__field {
        &:first-of-type {
          margin-right: 20px;
        }
      }
      &__button {
        max-width: 145px;
      }
    }
}