.header {
  padding-top: 50px;
  &__logo {
    font-size: $font-size-logo;
  }
}


  // Large screen (@screen-large)
  @mixin header\@screen-large {
    .header {
      display: flex;
      justify-content: space-between;
      width: 90%;
      padding-top: 0;
    }
  }