.menu {
  &__button {
    position: fixed;
    bottom: 5%;
    left: calc(50vw - 45px);
    width: 90px;
    z-index: 100;
  }
  &__list {
    position: fixed;
    bottom: calc(5% + 32px);
    left: 5%;
    width: 90vw;
    background-color: $color-bg-light;
    text-align: center;
    z-index: 100;
    &--hidden {
      display: none;
    }
  }
  &__item {
    transition: background-color 500ms linear;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 200ms linear;
    }
  }
  &__link {
    display: block;   
    padding:1.25em 1.25em;
  }
}