.menu {
  &__list {
    position: absolute;
    top: 80px;
    left: 5%;
    width: 90vw;
    background-color: $color-bg-light;
    text-align: center;
    &--hidden {
      display: none;
    }
  }
  &__item {
    transition: background-color 500ms linear;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 200ms linear;
    }
  }
  &__link {
    display: block;   
    padding:1.25em 1.25em;
  }
}