.menu {
  &__button {
    position: fixed;
    bottom: 5%;
    left: calc(50vw - 100px);
    width: 200px;
    max-width: none;
    background-color: $color-navbar;
    opacity: .5;
    z-index: 100;
    &:hover {
      background-color: $color-navbar;
      opacity: 1;
    }
    &:focus {
      background-color: $color-navbar;
      opacity: 1;
    }
  }
  &__list {
    position: fixed;
    bottom: calc(5% + 32px);
    left: 0;
    width: 100vw;
    background-color: $color-navbar;
    text-align: center;
    z-index: 100;
    &--hidden {
      display: none;
    }
  }
  &__item {
    transition: background-color 500ms linear;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 200ms linear;
    }
  }
  &__link {
    display: block;   
    padding:1.25em 1.25em;
  }
}