.contact {
  @include flexbox;
  @include flex-direction(column);
  &__details {
  }
  &__form {
  margin-top: 50px;
  }
}


// Wide screen (@screen-wide)
  @mixin contact\@screen-wide {
    .contact {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      &__form {
        margin-top: 0;
      }
    }
}