.gallery {
  text-align: center;
  &__category {
    font-size: $font-size-small;
    color: $color-text-dark;
    &--inactive {
      color: $color-text-inactive;
      cursor: pointer;
    }
  }
  &__body {
 //   @include flexbox;
//    @include flex-flow(row wrap);
    max-width: 1200px;
  }
  &__footer {
    font-size: $font-size-small;
    color: $color-text-dark;
    font-weight: $bold;
  }
}