$white: #ffffff;
$smoke: #eeeeee;
$red: #ea5b58;
$red-light: #e87371;
$grey: #323232;
$grey-light: #76777f;

$color-button: $red;
$color-button-hover: $red-light;
$color-form: $smoke;
$color-text-active: $grey;
$color-text-inactive: #a7a7a7;

