$white: #ffffff;
$smoke: #eeeeee;
$red: #ea5b58;
$red-light: #e87371;
$blue: #506083;
$grey: #323232;
$grey-light: #76777f;

$color-button: $red;
$color-button-hover: $red-light;
$color-form: $smoke;
$color-text-dark: $grey;
$color-text-inactive: #a7a7a7;
$color-postcard: $blue;


// Section colors
$color-navbar: #0d0b11;
$color-bg-dark: #161828;
$color-bg-light: #475a85;
$color-portfolio: #ffffff;


// Socials
$color-social-inactive: #c0c0c0;
$color-social-active: #fcf3ff;