$font-primary: "PT Sans", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$font-color-primary: $white;
$font-color-secondary: $grey;
$font-color-additional: $grey-light;
$font-color-inactive: #a7a7a7;

$font-size-gigantic: 48px;
$font-size-huge: 36px;
$font-size-large: 30px;
$font-size-medium: 24px;
$font-size-small: 18px;
$font-size-tiny: 14px;
$font-size-mini: 11px;

$font-size-button: $font-size-mini;
$font-size-button--large: $font-size-small;
  
$font-banner-header: $font-size-huge;
$font-banner-subheader: $font-size-medium;
$font-header: $font-size-large;
$font-subheader: $font-size-small;
  
$font-size-card-title: $font-size-small;
$font-size-card-descr: $font-size-tiny;

$font-size-form: $font-size-small;