@import "flexbox";

// generic transform
@mixin transform($type) {
  -webkit-transform: $type;
  	  -ms-transform: $type;
     -moz-transform: $type;
	   -o-transform: $type;
  	      transform: $type;
}

// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 


// Banner
@mixin banner($pic) {
  background: url("../img/projects/#{$pic}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  // Set fixed background for desktop width
  @media only screen and (min-width: 1367px) {
    background-attachment: fixed;
  }
}