@import "flexbox";

// generic transform
@mixin transform($type) {
  -webkit-transform: $type;
  	  -ms-transform: $type;
     -moz-transform: $type;
	   -o-transform: $type;
  	      transform: $type;
}
// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
// scale
@mixin translate($translate) {
	 @include transform(translate($translate));
} 

// Animation //
@mixin animation($name, $duration, $timing-function, $iteration) {
    -webkit-animation: $name $duration $timing-function $iteration;
            animation: $name $duration $timing-function $iteration;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

// After pseudo-element
@mixin after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// Banner
@mixin banner($pic) {
  background: url("../img/projects/#{$pic}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  // Set fixed background for desktop width
  @media only screen and (min-width: 1367px) {
    background-attachment: fixed;
  }
}